{% extends 'base.html' %}

{% block center %}
    <h2> Formulário de hospedagem.</h2>
       
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label">Data de entrada</label>
            {{ form.data_entrada}}
        </div>
        
        <div class="mb-3">
            <label for="nome" class="form-label">Data de saída</label>
            {{ form.data_saida}}
        </div>

        <div class="mb-3">
            <label for="nome" class="form-label">Valor</label>
            {{ form.valor}}
        </div>

        <div class="mb-3">
            <label for="nome" class="form-label">Cliente</label>
            {{ form.cliente}}
        </div>

        <div class="mb-3">
            <label for="nome" class="form-label">Quarto</label>
            {{ form.quarto}}
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>    
{% endblock %}
   
